@font-face {
  font-family: didact;
  src: url(../assets/font/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: worksans;
  src: url(../assets/font/WorkSans-Regular.ttf);
}
@font-face {
  font-family: fjalla;
  src: url(../assets/font/FjallaOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  font-family: fjalla;
  font-size: 16px;
}
header p {
  font-family: worksans;
  font-size: 20px;
  text-align: center;
}
h2 {
  font-family: didact;
  font-size: 100px;
  text-align: center;
  width: 700px;
  margin: 0 auto 60px auto;
}
header img {
  width: 50vw;
  margin: 0 25vw 0 25vw;
}
h3 {
  font-family: worksans;
  font-size: 160px;
  text-align: center;
  margin: 10rem 0 10rem 0;
}

.orbis {
  background-image: url(../assets/img/portfolio2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.orbis p {
  color: #9e9e9e;
  font-size: 20px;
}
.orbis h4 {
  color: #fff;
  font-size: 112px;
}
#buttonwhite {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  width: 6rem;
  height: 3rem;
  margin: 60px 0 60px 0;
}
#buttonblack {
  cursor: pointer;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  width: 6rem;
  height: 3rem;
  margin: 60px 0 60px 0;
}

.rollr {
  background-image: url(../assets/img/portfolio3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.galito {
  background-image: url(../assets/img/portfolio4.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.galito p {
  color: #9e9e9e;
  font-size: 20px;
}
.galito h4 {
  color: #fff;
  font-size: 112px;
}
.tretto {
  background-image: url(../assets/img/portfolio5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
}
.front p {
  font-family: worksans;
}
.front h4 {
  font-family: didact;
}
.front {
  padding: 250px;
  margin: 0 0 0 50px;
}
.front h4 {
  margin: 50px 0 50px 0;
}
.page {
  position: absolute;
  right: 120px;
  bottom: 120px;
}
.front p:last-of-type {
  font-size: 165px;
  font-family: fjalla;
  opacity: 20%;
}
.rollr p {
  color: #666666;
  font-size: 20px;
}
.rollr h4 {
  color: #000;
  font-size: 112px;
}
.tretto p {
  color: #666666;
  font-size: 20px;
}
.tretto h4 {
  color: #000;
  font-size: 112px;
}
.what {
  background-color: #000;
  height: 100vh;
  position: relative;
}
.what h5 {
  color: #fff;
  font-size: 180px;
  text-align: center;
  padding: 130px 0 0 0;
  margin: 0 0 150px 0;
}
.what p {
  color: #666666;
  font-family: worksans;
  font-size: 22px;
  width: 700px;
  margin: 0 50px 80px 1300px;
  line-height: 180%;
  letter-spacing: 1%;
}
.what a {
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  margin: 0 50px 0 1300px;
}
footer a {
  text-decoration: none;
  font-family: didact;
  font-size: 160px;
  color: #000;
  display: block;
  text-align: center;
  padding: 60px;
  margin-top: 60px;
}
